/*Alge,ene opmaak*/

body{
    font-family: Arial, Helvetica, sans-serif;
    background-image: url(images/background-image.jpg);
}

a{
    color: #112d4e;
}

/* Section 1 - header */
.header{
    padding: 40px;
    text-align: center;
    background-color: #f9f7f7;
    margin: 30px;
    font-size: 20px;

}

.profile-small {
    height: 150px;
    border-radius: 50%;
    border: 10px solid #fede00;
}
/* Section 2 - about me */

.columns-2{

    float: left;
    width: 45%;
    padding: 40px;
    padding-left: 70px;
    padding-right: 70px;
    height: 475px;
    margin: 30px;
    margin-bottom: 70px;
    box-sizing: border-box;
    background-color: #fede00;
    line-height: 2;
}

.large-profile{
    background: url(images/large-profile.jpg);
    background-size: cover;
    background-position: center;
}

/*section 3 -  projects*/

.columns-4{
    float: left;
    width: 21%;
    padding: 10px;
    margin: 20px;
    height: 250px;
}

.project-1{
    background-image: url(images/project-left.png);
    background-size: cover;
}


.project-2{
    background-color: #eee;

}

.project-3{
    background-color: #209bff;
}
.project-4{
    background-color: #112d4e;
}

.project-5{
    background-color: #f9f7f7;
}

.project-6{
    background-color: #209bff;
}

.project-7{
    background-color: #ff04f283;
}

.project-8{
    background: url(images/project-right.png);
    background-size: cover;
}

.project-text{
    text-align: center;
    font-size: 50px;
}

.project-2:hover{
    background-color: #fede00;
}
.project-3:hover{
    background-color: #fede00;
}
.project-4:hover{
    background-color: #fede00;

}
.project-5:hover{
    background-color: #fede00;
}
.project-6:hover{
    background-color: #fede00;
}
.project-7:hover{
    background-color: #fede00;
}
.project-8:hover{
    background-color: #fede00;
}


/*section - 4 Job experience*/

.columns-1{
    width: 90%;
    height: auto;
    padding-left: 70px;
    padding-right: 70px;
    margin: auto;
    margin-bottom: 50px;
    margin-top: 75px;
    background-color: white;
}

.table-style{
    width: 100%;
    border-spacing: 24px;
    text-align: center;
}

tr:nth-child(even){
    background-color: peachpuff;
}


.section-heading{
    text-align: center;
    color: #102c4e;
    margin-top: 150px;
    margin-bottom: 70px;
    font-size: 35px;
}

.section-break{
    margin: 60px;
    height: 500px;

}


/*section - 5 Education & skills*/


.columns-2a{
    float: left;
    width: 40%;
    padding: 20px;
    padding-left: 30px;
    padding-right: 30px;
    height: 450px;
    margin: 20px;
    background-color: white;
}


/*section6 - quote*/

.column-quote{
    width: 90%;
    height: 300px;
    padding: 10px;
    padding-left: 40px;
    padding-right: 40px;
    margin: auto;
    margin-bottom: 15px;
    border: 20px solid yellow;
}

.quote{
    font-size: 70px;
    font-weight: bold;
    line-height: 1;
    text-align: center;
}


/*Section 7 - FOOTER*/

.footer{
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 90px;
    background-color: #d0daee;
}

.footer-text-left{
    font-size: 25px;
    padding-left: 40px;
    float: left;
    word-spacing: 20px;
}

.footer-text-right{
    padding-right: 40px;
    margin-top: 20px;
    float: right;

}

.icon-style{
    height: 40px;
    margin-left: 20px;
    margin-top: 5px;
}

a.menu:hover{
    background-color: #fede00;
    font-size: 20px;
}

.icon-style:hover{
    background-color: #fede00;
    padding: 5px;
}